<!DOCTYPE html>
{% extends "base.html" %}

{% block head %}
<title>{{name}} | Athens </title>
<style>
 #myBG {
 background-image: url(https://www.google.com/url?sa=i&url=http%3A%2F%2Fwww.visitgreece.gr%2Fen%2Fmain_cities%2Fathens&psig=AOvVaw16x3eQ7owoTO6lGoxuMZiG&ust=1603812641302000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCMDWxerJ0uwCFQAAAAAdAAAAABAD);
 background-size: 100% 300px;
 }
 #box {
 background-color: darkslategrey;
  width: 400px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
 }
  </style>
{% endblock %}

<!-- Project  Information  -->
{% block title %}
<div id="myBG">
    <h1>Athens</h1>
    <pre style="color:white;">Travel to Athens! The birthplace of Government!
    </pre>
</div>
{% endblock %}

{% block link1 %}
<div id="box">
    <h3>Parthenon</h3>
    <img src="http://www.visitgreece.gr/en/culture/monuments/parthenon" alt="Parthenon" style="width:300px;height:200px;">
    <pre style="color:white;">
    The Parthenon is a one of the
    most famous historical sites
    is one of the greatest creations
    by the Greek democracy in
    490 BC.
    </pre>
</div>
{% endblock %}
{% block link2 %}
<div id="box">
    <h3>Acropolis of Athens</h3>
    <img src="https://www.history.com/topics/ancient-greece/acropolis" alt="Acropolis of Athens" style="width:300px;height:224px;">
    <pre style="color:white;">
        The Acropolis of Athens is one of the most
        famous ancient archaeological sites in the world.
        Located on a limestone hill high above Athens,
        Greece, the Acropolis has been inhabited since
        prehistoric times.
    </pre>
</div>
{% endblock %}
{% block link3 %}
<div id="box">
    <h3>Syntagma Square</h3>
    <img src="https://www.athensguide.com/syntagma.html" alt="Syntagma Square" style="width:300px;height:450px;">
    <pre style="color:white;">
        "Constitution Square" is the central square of Athens.
        The square is named after the Constitution that Otto,
        the first King of Greece, was obliged to grant after
        a popular and military uprising on 3 September 1843
    </pre>
</div>
{% endblock %}