body {
	background-image: linear-gradient(to bottom, #f0edf2,#c5c3c7);
	font-family: 'Fjalla One', sans-serif;
}

.top{
	background-color:#323033;
	margin-left:-10px;
	margin-right:-10px;
	margin-top:0px;
	height:65px;

}

.header{
	background-color:#7a3699;
	margin-left:-10px;
	margin-right:-10px;
	margin-top:-30px;
	padding:50px;
	height:350px;
	/*box-shadow: .5rem .5rem .5rem black;*/
	text-align:center;
	border-width:200px;
	font-size:45px; 
	/*border:3px solid;*/
	/*border-radius: 25px;*/
}

.card {
  border-radius: 3px;
  margin-top: -10px;
  margin-left: 825px;
  padding: 20px;
  padding-left: 20px;
  background-image: linear-gradient(to top, #7a3699, #9753db);
  color: white;
  box-shadow: 0px 5px 5px #171717;
  text-shadow: 2px 2px 10px black;
  max-width: 200px;
  max-height:300px;
  text-align:center;
  color:white;

}

.icon{
	text-align:relative;
	color:#f0edf2;
	text-shadow: 2px 2px 10px black;
}

.welcome-text{
	font-size:30px;

}