<!DOCTYPEhtml>
<head>
	<!-- Title + links to other folders + fonts-->
	<title>WesleyChen</title>
	<link rel="stylesheet" href="../static/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<!--Creates the black nav bar(Not actually a nav bar)-->
	<div class="top">
		<p><center style="color:white">Navbar for Later</p></center>
	</div>

	<div class="header">
		<i><p style="color:#f0edf2">Travel website menu (WIP)</p></i>
		<p style="color:#f0edf2;font-size: 20px">By Wesley Chen, Andrea Abed, Diego Krenz, Naweid Hassanzadeh, Ethan Sun </p>
	</div>

	<div class="icon">

		<a style="position:relative; top:-225px; right: -895px; color:white" href="https://github.com/andrea-abed/europe_travel/tree/master/templates" target="_blank"><i class= "fa fa-github-square fa-5x"></i></a>
	</div>

	</div>

	<div style="width:300px; height:300px; position:relative; top: -20px; left: 390px" class="card"><center>

		<h1 style="color:white">Greece</h1>

  		<p><a class="welcome-text" style="color:white" href="http://127.0.0.1:5000/greece">Website(Diego)</p></a>

  	</div>

  <div style="width:300px; height:300px; position:relative; top:-360px; left: 670px" class="card"><center>

  		<h1 style="color:white">Spain</h1>

  		<p><a class="welcome-text" style="color:white" href="http://127.0.0.1:5000/spain">Website(Nawied)</p></a>
  	</div>

<div style="width:300px; height:300px; position:relative; top:-700px; right: -950px" class="card"><center>

		<h1 style="color:white">Italy</h1>

  		<p><a class="welcome-text" style="color:white" href="http://127.0.0.1:5000/italy">Website(Andrea)</p></a>


<div style="width:300px; height:300px; position:relative; top:-156px; left: 260px" class="card"><center>

  		<h1 style="color:white">Germany</h1>

  		<p><a class="welcome-text" style="color:white" href="http://127.0.0.1:5000/germany">Website(Ethan)</p></a>
  	</div>

  </h1></a></div>
 
